<div *ngFor="let blog of service.list">
    <div *ngIf="blog.blogId == service.id">
        <div class="row header">
            <h1 class="text-center">{{blog.blogTitle}}</h1>
        </div>
        <div class="row content">
            <p>{{blog.blogContent}}</p>
        </div>
    </div>
</div>


<div class="row justify-content-end">
    <div class="col-sm-1">
        <a class="btn btn-primary" routerLink='../add-blog'>Add</a>
    </div>
    <div class="col-sm-1">
        <a class="btn btn-info ml-2" routerLink="../edit-blog">Edit</a>
    </div>
</div>

<div class="row justify-content-center">
    <app-comment></app-comment>
</div>




<!-- <div class="row justify-content-start">
    <div class="col-sm-8">
        <h1>{{blog}}</h1>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-sm-8">
        <p>{{blog}}</p>
        <a class="btn btn-primary" (click)="dis()">Data</a>
    </div>
</div> -->