<!-- <ul class="navbar-nav flex-grow-1" *ngFor="let bt of service.list">
    <li class="nav-item">
        <a class="nav-link text-dark">{{bt.blogTitle}}</a>
    </li>
</ul> -->


<div class="row justify-content-start">
    <div class="col-sm-8">
        <app-blog></app-blog>
    </div>
    <div class="col-sm-4">
        <ul class="navbar-nav flex-grow-1" *ngFor="let bt of service.list">
            <li class="nav-item" (click)="onBlog(bt.blogId)">
                <a class="nav-link text-dark">{{bt.blogTitle}}</a>
            </li>
        </ul>
    </div>
</div>