<ul class="navbar-nav flex-grow-1">
  <li class="nav-item">
      <a class="nav-link text-dark">Add-Employee</a>
  </li>
  <li class="nav-item">
      <a class="nav-link text-dark">Departments</a>
  </li>
  <li class="nav-item">
      <a class="nav-link text-dark">Add-Department</a>
  </li>
  <li class="nav-item">
      <a class="nav-link text-dark">Inactive-Employees</a>
  </li>
  <li class="nav-item">
      <a class="nav-link text-dark">Skills</a>
  </li>
</ul>

<router-outlet></router-outlet>