/* You can add global styles to this file, and also import other style files */
.header
{
    padding: 20px;
    min-height: 100px;
}

.content
{
    padding: 10px;
    min-height: 400px;
}

a
{
    cursor: pointer;
}

.hover-cursor
{
    cursor: pointer;
}

