@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Registration";
}
@model TastyDots.Models.Register

<div class="row justify-content-center">
    <div class="col-8 col-sm-6">
        <h1 class="text-center">Registration Form</h1>
    </div>
</div>

<div class="container-fluid justify-content-center offset-sm-2">
    <form method="post" asp-action="Register">
        <div class="row g-3 align-items-center mt-3">
            <div class="col-4 col-sm-2">
                <label class="col-form-label" asp-for="Email"></label>
            </div>
            <div class="col-8 col-sm-6">
                <input type="email" id="email" class="form-control" asp-for="Email">
            </div>
            <div class="row">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="row g-3 align-items-center mt-3">
            <div class="col-4 col-sm-2">
                <label class="col-form-label" asp-for="Password"></label>
            </div>
            <div class="col-8 col-sm-6">
                <input type="password" id="password" class="form-control" asp-for="Password">
            </div>
            <div class="row">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="row g-3 align-items-center mt-3">
            <div class="col-4 col-sm-2">
                <label class="col-form-label" asp-for="ConfirmPassword"></label>
            </div>
            <div class="col-8 col-sm-6">
                <input type="password" id="confirmpass" class="form-control" asp-for="ConfirmPassword">
            </div>
            <div class="row">
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>
        <div class="row g-3 align-items-center justify-content-end mt-3">
            <div class="col-8 col-sm-4">
                <input type="submit" class="btn btn-primary" value="Register" />
                <a type="button" class="btn btn-success" asp-action="LogIn">Login</a>
            </div>
        </div>
    </form>
</div>


@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}