@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Update";
}

@model TastyDots.Models.Menu

<form method="post" asp-for="Update">
    <input hidden asp-for="DishId" />
    <div class="row g-3 justify-content-center mt-3 align-items-center">
        <div class="col-4 col-sm-2">
            <label for="dname" class="col-form-label" asp-for="DishName"></label>
        </div>
        <div class="col-6 col-sm-4">
            <input type="text" id="dname" class="form-control" asp-for="DishName" placeholder="@Model.DishName" />
        </div>
    </div>

    <div class="row g-3 justify-content-center mt-3 align-items-center">
        <div class="col-4 col-sm-2">
            <label for="category" class="col-form-label" asp-for="Category"></label>
        </div>
        <div class="col-6 col-sm-4">
            <input type="text" id="category" class="form-control" asp-for="Category" value="@Model.Category">
        </div>
    </div>
    <div class="row offset-6">
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>

    <div class="row g-3 justify-content-center mt-3 align-items-center">
        <div class="col-4 col-sm-2">
            <label for="price" class="col-form-label" asp-for="Price"></label>
        </div>
        <div class="col-6 col-sm-4">
            <input type="text" id="price" class="form-control" asp-for="Price" value="@Model.Price">
        </div>
    </div>
    <div class="row offset-6">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="row g-3 justify-content-center mt-3 align-items-center">
        <div class="col-4 col-sm-2">
            <label for="stock" class="col-form-label">Existing Stock</label>
        </div>
        <div class="col-6 col-sm-4">
            <input type="text" id="stock" class="form-control" readonly value="@Model.Stock">
        </div>
    </div>

    <div class="row g-3 justify-content-center mt-3 align-items-center">
        <div class="col-4 col-sm-2">
            <label for="stock" class="col-form-label" asp-for="Stock">Enter the new Stock</label>
        </div>
        <div class="col-6 col-sm-4">
            <input type="text" id="stock" class="form-control" asp-for="Stock">
        </div>
    </div>
    <div class="row offset-6">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="row g-3 justify-content-center mt-3 align-items-end">
        <div class="col-auto">
            <input type="submit" class="btn btn-info">
        </div>
        <div class="col-auto">
            <a asp-action="Index" class="btn btn-danger">Back</a>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
